.container-fluid {
    background-color: #4D006C;
}

.image-one, .image-two, .image-three, .image-four {
    width: 25rem;
    border-radius: 5rem;
    border-width: 5rem;
    
}

.image-one {
    padding: 3rem;
}

.image-two {
    padding: 3rem;
}

.image-one:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.image-two:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.image-three:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.image-four:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

h1 {
    font-family: "gothiks-round", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    margin: auto;
    padding: 2rem;
}

h2, h3 {
    font-family: "gothiks-round", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    font-size: 65px;
    background-color: #C153AA;
    border-radius: 40%;
    width: 35rem;
    margin: auto;
}

.nav-link {
    font-family: "gothiks-round", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
}

p {
    font-family: "gothiks-round", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: larger;
    width: 25rem;
    font-size: 28px;
    margin: auto;
}


main, header{
    background-image: url('images/nasa-rTZW4f02zY8-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

header {
    text-align: center;
}

footer {
    background-image: url('images/nasa-rTZW4f02zY8-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.container {
    padding: 45px;
}

.vicky {
    width: 25rem;
    border-radius: 25%;
}

.vicky:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.ethan:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.form {
   width: 40rem;
   border-radius: 35rem;
   margin: auto;
   background-color: aliceblue;
   border-radius: 8%;
   font-family: "gothiks-round";
}

.contact-form {
    margin: 0 auto;
    max-width: 500px;
}

.contact-para {
    background-image: url('images/nasa-rTZW4f02zY8-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
  
.button {
    padding: 10px;
}

.box {
    padding-left: 5rem;
}
